.main {
  @media only screen and (min-width: 768px) {
    & {
      padding: 1.5rem 0 3rem;
    }
  }

  @media only screen and (min-width: 1224px) {
    & {
      padding: 1.5rem 0 2rem;
    }
  }
  /* Extra Large screens ----------- */
  @media only screen and (min-width: 1921px) {
    & {
      padding: 1.5rem 0 4rem;
    }
  }
}

.details {
  margin: 20px 0px 0px;
  padding-left: 25px;
  padding-right: 0px;
}
