.large {
  width: 15.625rem;
  height: 15.625rem;
}

.medium {
  width: 12.5rem;
  height: 12.5rem;
}

.normal {
  width: 7.8125rem;
  height: 7.8125rem;
}

.col {
  color: var(--icon-color);
}

.colSec {
  color: var(--icon-color-sec);
}
