.default {
}

.color1 {
  color: var(--text-color);
}

.color2 {
  color: var(--text-color-2);
}

.color3 {
  color: var(--text-color-3);
}

.color4 {
  color: var(--text-color-4);
}

.bold {
  font-weight: bold;
}

.weightNormal {
  font-weight: normal;
}

.xLarge {
  font-size: 10rem;
  line-height: 8rem;
  letter-spacing: -5px;
}

.small {
  font-size: 3.75rem;
  letter-spacing: 2.5px;
}

.large {
  font-size: 3rem;
}

.normal {
  margin-left: 10px;
  font-size: 2.25rem;
  letter-spacing: 2px;
}

.teko {
  font-family: Teko;
}

.noMargin {
  margin: 0;
}
