.default {
}

.bold {
  font-weight: bold;
}

.weightNormal {
  font-weight: normal;
}

.xLarge {
  font-size: 10rem;
  line-height: 8rem;
  letter-spacing: -5px;
}

.small {
  font-size: 3.75rem;
  letter-spacing: 2.5px;
}

.large {
  font-size: 3rem;
}

.normal {
  // margin-top: 45px;
  font-size: 2.25rem;
  margin-left: -10px;
  letter-spacing: 2px;
}

.teko {
  font-family: Teko;
}

.noMargin {
  margin: 0;
}
