.container {
  margin: 0 auto;
  padding: 0 0.5rem;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerHorizontal {
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    & {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }
}

.flexColumn {
  flex-direction: column;
}

.shadow {
  box-shadow: 0 20px 30px 2px rgba(0, 0, 0, 0.2);
}

.full {
  width: 100%;
  height: 100%;
}

.maxWidthLarge {
  max-width: 40rem;
  @media only screen and (min-width: 480px) {
    & {
      max-width: 60rem;
    }
  }

  @media only screen and (min-width: 768px) {
    & {
      max-width: 79.375rem;
    }
  }
}

.mainBG {
  background-color: var(--bg-color);
}

.transparentBG {
  background-color: transparent;
}

.border {
  outline: 8px solid;
  outline-color: var(--border-color);
}

.borderRadius {
  border-radius: 10px;
}
