.container {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.card {
  flex: 1;
  padding: 10px 0px 15px;
  width: 100%;
  @media only screen and (min-width: 768px) {
    & {
      width: unset;
    }
  }
}

.notFirstCard {
  margin-left: 0px;
  margin-top: 8px;

  @media only screen and (min-width: 768px) {
    & {
      margin-top: 0px;
      margin-left: 8px;
    }
  }
}

.firstCard {
  border-bottom-left-radius: 10px;
}

.lastCard {
  border-bottom-right-radius: 10px;
}
