.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  @media only screen and (min-width: 768px) {
    & {
      flex-direction: row;
      justify-content: space-around;
      margin: 0px 95px 0px 105px;
    }
  }
}
