// TODO: switch colors once done
:root {
  --border-color: #000;
  --icon-color: #2b1010;
  --icon-color-sec: #2222ff;
  --primary-color: #8c511c;
  --secondary-color: #8c891c;
  --bg-color: #120904;
  --font-dark: #cecdcb;
  --font-dark-2: #cdcbc9;
  --font-dark-3: #ccccc6;
  --font-dark-4: #c5c5bf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #fff;
    --icon-color: #d4efef;
    --icon-color-sec: #dddd00;
    --primary-color: #73aee3;
    --secondary-color: #7376e3;
    --bg-color: #edf6fb;
    --font-dark: #313234;
    --font-dark-2: #323436;
    --font-dark-3: #333339;
    --font-dark-4: #3a3a40;
  }
}

ul {
  padding-inline-start: 0;
}

:root {
  background-color: var(--bg-color);
}

html {
  font-size: 100%;

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    & {
      font-size: 40%;
    }
  }

  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width: 321px) {
    & {
      font-size: 40%;
    }
  }

  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width: 480px) {
    & {
      font-size: 45%;
    }
  }

  @media only screen and (min-width: 768px) {
    & {
      font-size: 55%;
    }
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-width: 1024px) {
    & {
      font-size: 75%;
    }
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1224px) {
    & {
      font-size: 80%;
    }
  }

  /* Large screens ----------- */
  @media only screen and (min-width: 1824px) {
    & {
      font-size: 90%;
    }
  }

  /* Extra Large screens ----------- */
  @media only screen and (min-width: 1921px) {
    & {
      font-size: 100%;
    }
  }
}
