// TODO: switch colors once done
:root {
  --border-color: #000;
  --icon-color: #2b1010;
  --primary-color: #8c511c;
  --secondary-color: #8c891c;
  --bg-color: #120904;
  --font-dark: #cecdcb;
  --font-dark-2: #cdcbc9;
  --font-dark-3: #ccccc6;
  --font-dark-4: #c5c5bf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #fff;
    --icon-color: #d4efef;
    --primary-color: #73aee3;
    --secondary-color: #7376e3;
    --bg-color: #edf6fb;
    --font-dark: #313234;
    --font-dark-2: #323436;
    --font-dark-3: #333339;
    --font-dark-4: #3a3a40;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  padding-inline-start: 0;
}
