// TODO: switch colors once done
:root {
  --shadow-color: rgba(0, 0, 0, 0.2);
  --border-color: #fff;
  --icon-color: #d4efef;
  --icon-color-sec: #dddd00;
  --primary-color: #73aee3;
  --secondary-color: #7376e3;
  --bg-color: #edf6fb;
  --text-color: #313234;
  --text-color-2: #323436;
  --text-color-3: #333339;
  --text-color-4: #3a3a40;
  [data-theme='dark'] {
    --shadow-color: rgba(255, 255, 255, 0.4);
    --border-color: #fff;
    --icon-color: #6e85b2;
    --icon-color-sec: #fec260;
    --primary-color: #af0171;
    --secondary-color: #9a0680;
    --bg-color: #192844;
    --text-color: #cecdcb;
    --text-color-2: #cdcbc9;
    --text-color-3: #ccccc6;
    --text-color-4: #c5c5bf;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-color: rgba(255, 255, 255, 0.4);
    --border-color: #fff;
    --icon-color: #6e85b2;
    --icon-color-sec: #fec260;
    --primary-color: #af0171;
    --secondary-color: #9a0680;
    --bg-color: #192844;
    --text-color: #cecdcb;
    --text-color-2: #cdcbc9;
    --text-color-3: #ccccc6;
    --text-color-4: #c5c5bf;
  }

  [data-theme='light'] {
    --shadow-color: rgba(0, 0, 0, 0.2);
    --border-color: #fff;
    --icon-color: #d4efef;
    --icon-color-sec: #dddd00;
    --primary-color: #73aee3;
    --secondary-color: #7376e3;
    --bg-color: #edf6fb;
    --text-color: #313234;
    --text-color-2: #323436;
    --text-color-3: #333339;
    --text-color-4: #3a3a40;
  }
}

ul {
  padding-inline-start: 0;
}

:root {
  transition: background-color 0.5s ease;
  background-color: var(--bg-color);
}

html {
  font-size: 100%;

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    & {
      font-size: 40%;
    }
  }

  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width: 321px) {
    & {
      font-size: 40%;
    }
  }

  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width: 480px) {
    & {
      font-size: 45%;
    }
  }

  @media only screen and (min-width: 768px) {
    & {
      font-size: 55%;
    }
  }

  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-width: 1024px) {
    & {
      font-size: 75%;
    }
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1224px) {
    & {
      font-size: 80%;
    }
  }

  /* Large screens ----------- */
  @media only screen and (min-width: 1824px) {
    & {
      font-size: 90%;
    }
  }

  /* Extra Large screens ----------- */
  @media only screen and (min-width: 1921px) {
    & {
      font-size: 100%;
    }
  }
}
